{% extends "base.html" %}

{% block content %}
<h1>Register Form</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(type="email") }}
        {% for error in form.login.errors %}
            <p style="color: red">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(type="password") }}
        {% for error in form.password.errors %}
        <p>
            {{ error }}
        </p>
        {% endfor %}
    </p>
    <p>
        {{ form.re_password.label }}<br>
        {{ form.re_password(type="password") }}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname() }}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name() }}
    </p>
    <p>
        {{ form.age.label }}<br>
        {{ form.age() }}
    </p>
    <p>
        {{ form.position.label }}<br>
        {{ form.position() }}
    </p>
    <p>
        {{ form.speciality.label }}<br>
        {{ form.speciality() }}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address() }}
    </p>
    <p>
        {{ form.submit(type="submit") }}
    </p>
    {{ message }}
</form>
{% endblock %}